APP_PORT=3201
LOG_LEVEL=info

RMQ_USER=guest
RMQ_PASS=guest
RMQ_HOST=infra-iadt-rabbitmq:5672
TENANT_UID=_1_1

JOBS_SERVICE_URL=http://infra-iadt-jobs:3100

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
