APP_PORT=3300

OCR_SERVICE_URL=http://localhost:3201

MONGO_URI=mongodb://infra-iadt-mongodb:27017/analyzer?directConnection=true

RMQ_USER=guest
RMQ_PASS=guest
RMQ_HOST=infra-iadt-rabbitmq:5672

JOBS_SERVICE_URL=http://infra-iadt-jobs:3100

LLM_PROVIDER=anthropic
LLM_MODEL=claude-opus-4-5
ANTHROPIC_API_KEY=

# Se usar OpenAI:
# LLM_PROVIDER=openai
# LLM_MODEL=gpt-4o
# OPENAI_API_KEY=
