NODE_ENV=development
APP_PORT=3000
CORS_ORIGIN=*
JWT_SECRET=change-me-in-production
JWT_ACCESS_EXPIRY=900
JWT_REFRESH_EXPIRY=604800
HASH_ID_KEY=change-me-in-production
METRICS_TOKEN=change-me-in-production
NOTIFICATIONS_SECRET=change-me-in-production

DB_HOST=infra-iadt-postgres
DB_USER=admin
DB_PASS=secret
DB_PORT=5432
DB_NAME=_1_1

RMQ_USER=guest
RMQ_PASS=guest
RMQ_HOST=infra-iadt-rabbitmq:5672

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

COGNITE_JOBS_SECRET=change-me-in-production
JOBS_SERVICE_URL=http://infra-iadt-jobs:3100
