NODE_ENV=development
APP_PORT=3000
CORS_ORIGIN=*
JWT_SECRET=change-me-in-production
JWT_ACCESS_EXPIRY=900
JWT_REFRESH_EXPIRY=604800
HASH_ID_KEY=change-me-in-production
METRICS_TOKEN=change-me-in-production
NOTIFICATIONS_SECRET=change-me-in-production

DB_HOST=platform-postgres
DB_USER=admin
DB_PASS=secret
DB_PORT=5432
DB_NAME=_97_23

RMQ_USER=guest
RMQ_PASS=guest
RMQ_HOST=platform-rabbitmq:5672
